:root {
  --primary: #9a9aff;
  --filter-primary-logo: invert(62%) sepia(71%) saturate(1658%) hue-rotate(203deg) brightness(101%) contrast(101%);
  --secondary: #04003d;
  --filter-secondary-logo: invert(6%) sepia(58%) saturate(5248%) hue-rotate(236deg) brightness(82%) contrast(121%);
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.graphBox {
  height: 300px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .graphBox {
    height: 300px;
    width: 100%;
  }
}

.loginLogo {
  height: 400px;
  width: 400px;
  filter: var(--filter-secondary-logo); /* https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element */
}

@media only screen and (max-width: 600px) {
  .loginLogo {
    height: 256px;
    width: 256px;
  }
}